group = '{{groupId}}'
version = '{{artifactVersion}}'

repositories {
    mavenCentral()
}

apply plugin: 'java'

sourceCompatibility = JavaVersion.VERSION_11
targetCompatibility = JavaVersion.VERSION_11

task fatJar(type: Jar) {
    duplicatesStrategy = DuplicatesStrategy.INCLUDE
    from sourceSets.main.output
    dependsOn configurations.runtimeClasspath
    from {
        configurations.runtimeClasspath.findAll { it.name.endsWith('jar') }.collect { zipTree(it) }
    }
}

dependencies {
    implementation 'io.swagger:swagger-annotations:1.6.9'
    implementation 'com.squareup.okhttp3:okhttp:4.12.0'
    implementation 'com.squareup.okhttp3:logging-interceptor:4.12.0'
    implementation 'com.google.code.gson:gson:2.10.1'
    implementation 'io.gsonfire:gson-fire:1.8.5'
    implementation 'org.threeten:threetenbp:1.6.5'
    implementation 'com.google.guava:guava:33.3.1-jre'
    implementation 'io.swagger.core.v3:swagger-annotations:2.2.16'
    implementation 'com.squareup.okio:okio:3.9.1'
    implementation 'org.apache.commons:commons-lang3:3.17.0'
    compileOnly 'org.projectlombok:lombok:1.18.34'
    annotationProcessor 'org.projectlombok:lombok:1.18.34'
    testImplementation 'junit:junit:4.13.2'
}
